.galleryCard {
    min-width: 320px;
    /* padding: 15px; */
    margin-top: 35px;
    margin-right: 20px;
    margin-left: 20px;
    box-shadow: 10px 10px 5px 5px #beb5aa !important;
}
.galleryCard:hover {
    transform: scale(1.06);
    transition: all 0.3s ease-in;
}
/* .imgholder{
    height: 200px;
} */

.artName{
    font-size: 23px;
}
.galleryCardMedia {
    width: 100%;
    height: 330px;
    /* padding-top: 15px !important; */
    background-size: cover !important;
    background-color: #ffffff !important;
}
.artistName {
    font-size: 15px;
    color: gray;
   
}
.cardInfo {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    /* padding: -20px; */
    /* background-color: rebeccapurple; */
}
