.about{
    margin-top: 10vh;
    width: 100vw;
    height: auto;
    
}
.aboutContent{
    /* background: url("https://images.prismic.io/clubhouse/fc3d0d80-44ce-43f2-b072-b3999c9d30d0_careers_hero_v3.png?auto=format%2Ccompress&rect=0%2C0%2C2710%2C1350&w=339&h=169&fit=max&q=50 339w, https://images.prismic.io/clubhouse/fc3d0d80-44ce-43f2-b072-b3999c9d30d0_careers_hero_v3.png?auto=format%2Ccompress&rect=0%2C0%2C2710%2C1350&w=678&h=338&fit=max&q=50 678w, https://images.prismic.io/clubhouse/fc3d0d80-44ce-43f2-b072-b3999c9d30d0_careers_hero_v3.png?auto=format%2Ccompress&rect=0%2C0%2C2710%2C1350&w=1355&h=675&fit=max&q=50 1355w, https://images.prismic.io/clubhouse/fc3d0d80-44ce-43f2-b072-b3999c9d30d0_careers_hero_v3.png?auto=format%2Ccompress&rect=0%2C0%2C2710%2C1350&w=2033&h=1012&fit=max&q=50 2033w, https://images.prismic.io/clubhouse/fc3d0d80-44ce-43f2-b072-b3999c9d30d0_careers_hero_v3.png?auto=format%2Ccompress&rect=0%2C0%2C2710%2C1350&w=2710&h=1350&fit=max&q=50 2710w") no-repeat; */
    width: 100%;
    position: relative;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-color: white;
    padding-bottom: 50px;
}
.aboutContentTitle{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 50px;
}
.aboutContent > h1{
    text-align: center;
    padding-top: 60px;
}
.supportBtn{
    border: 2px solid #ddc4b5 !important;
    padding: 10px 20px !important;
    margin-top: 10px !important;
}
.supportBtn:hover{
    background-color: #ddc4b5 !important;
}
.meetTeam {
    width: 100%;
}
.meetTeam > h1{
    text-align: center;
}

.aboutCardContainer1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
    flex-wrap: wrap;
}

.card1{
    position: absolute !important;
    top: 240px !important;
    left: 50px !important;
}
