.aboutCardContainer {
    width: 290px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    box-shadow: 10px 8px 5px 5px #beb5aa !important;
    margin-bottom: 20px;
}
